examples/face-detect.json
[
    {
        "id": "8619fc0fa7da3fe8",
        "type": "good-face-detection",
        "z": "83078a0b9760cbee",
        "name": "",
        "returnValue": "0",
        "threshold": 0.5,
        "absolutePathDir": "",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "bf67e15413744e7a"
            ]
        ]
    },
    {
        "id": "0f11aafbbf09699e",
        "type": "file in",
        "z": "83078a0b9760cbee",
        "name": "Image Path",
        "filename": "",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "8619fc0fa7da3fe8"
            ]
        ]
    },
    {
        "id": "bf67e15413744e7a",
        "type": "debug",
        "z": "83078a0b9760cbee",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "b9dc304adfa64f1c",
        "type": "inject",
        "z": "83078a0b9760cbee",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "0f11aafbbf09699e"
            ]
        ]
    }
]